
<!--

=========================================================
* Pixel Pro Bootstrap 5 UI Kit
=========================================================

* Product Page: https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit
* Copyright 2021 Themesberg (https://www.themesberg.com)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Contact us if you want to remove it.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>Packasaurus Rex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Packasaurus Rex">
    <meta name="author" content="Dsposal">

    <link href="~/dist/css/main.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>


    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-secondary">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="@Url.Action("Index", "Home")">
                    <img class="navbar-brand-dark" src="~/img/brand/light.svg" alt="Logo">
                    <img class="navbar-brand-light" src="~/img/brand/dark.svg" alt="Logo">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="@Url.Action("Index", "Home")">
                                    
                                    <img src="~/img/brand/dark.svg" alt="Logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Catalogue
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Partners
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                About
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="preloader bg-dark flex-column justify-content-center align-items-center">
            <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
                <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
                <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
                <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6" />
                <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
                <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
                <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
                <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2" />
                <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
                <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
                <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
                <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
                <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
            </svg>
        </div>
        
        <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
            <div class="container-fluid">
                <div class="row pt-5 pt-md-0">
                    <div class="col-12 col-lg-4 col-xl-3 mb-3 mb-lg-0">
                        <!-- Navigation -->
                        <div class="card border-gray-300 p-2">
                            <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
                                <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                                    <img src="https://ui-avatars.com/api/?name=John+Doe&size=156" class="card-img-top rounded-circle border-white" alt="Bonnie Green Portrait">
                                </div>
                                <span class="h5 my-0 my-lg-3 me-3 me-lg-0">Hi, John!</span>
                                <a href="javascript:void(0)" class="btn btn-gray-300 btn-xs"><span class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                            </div>
                            <div class="card-body p-2 d-none d-lg-block">
                                <div class="list-group dashboard-menu list-group-sm">
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action">Dashboard <span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <hr />
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action">Base Materials<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Combined Materials<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Components<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action active">Complete Packages<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <hr />
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Organisation<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Team<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Supply Chain<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <hr />
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Account<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                    <a href="javascript:void(0)" class="d-flex list-group-item border-0 list-group-item-action ">Security<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-lg-none">
                        <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-10 d-flex">
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 text-center me-2 ">Dashboard</a>
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 text-center me-2 ">Base Materials</a>
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0 ">Combined Materials</a>
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0 ">Complete Packages</a>
                                    </div>
                                    <div class="col-2 d-flex justify-content-center">
                                        <div class="btn-group dropleft">
                                            <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-sm">
                                                    <span class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                                </span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0 active">Combined Materials</a>
                                                <a href="./security.html" class="list-group-item list-group-item-action d-md-none border-0 ">Complete Packages</a>
                                                <hr/>
                                                <a href="./billing.html" class="list-group-item list-group-item-action border-0 ">Organisation</a>
                                                <a href="./messages.html" class="list-group-item list-group-item-action border-0 ">Team</a>
                                                <a href="./messages.html" class="list-group-item list-group-item-action border-0 ">Supply Chain</a>
                                                <hr/>
                                                <a href="./messages.html" class="list-group-item list-group-item-action border-0 ">Account</a>
                                                <a href="./messages.html" class="list-group-item list-group-item-action border-0 ">Security</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-8 col-xl-9">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer pt-6 pb-5 bg-primary text-white">
        <div class="container">
                
        </div>
    </footer>
    <link href="~/dist/js/main.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/dist/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>